:root {
  --text-color: #291720;
  --dynamic-color: #C61366;
  --contrast-color: #FB8B24;
  --white: #FFFCFE;
  --light: #F0E4ED;
  --dark: #390720;

  --mobile-breakpoint: 540px;
	--tablet-breakpoint: 880px;
}

@font-face {
  font-family: "Poppins"; 
  src: local("poppinsMedium"),
    url("./fonts/poppinsMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins Italic"; 
  src: local("poppinsMediumItalic"),
    url("./fonts/poppinsMediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins Bold"; 
  src: local("poppinsBold"),
    url("./fonts/poppinsBold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins Bold Italic"; 
  src: local("poppinsBoldItalic"),
    url("./fonts/poppinsBoldItalic.woff2") format("woff2");
}


html > body {
  font-family: 'Poppins';
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--white);
}
